<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<p id="pp">Hejsan</p>
<button id="bt">Click</button>


<input id="text" type="text">
<input id="text2" type="text">
<input id="submit" type="submit">

<a id="anchor" hreflang="eng" href="https://www.hltv.org/" target="_blank"></a>
<button type="knapp">Knapp</button>

<script src="../scripts/index.js"></script>
</body>
</html>